body {
    background-image: linear-gradient(45deg, #1b1464 5%, #3629cc 95%), linear-gradient(180deg, #1b1464, #1b1464)
}

.quizwrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: 800px;
}

.title {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #32c8ff;
    margin-bottom: 2.4rem;
}

.question {
    margin-bottom: 2.8rem;
    font-family: 'Jost', 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.8rem;
    width: 100%;
    text-align: center;
    color: #32c8ff;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 1.8rem;
    gap: 10px;
}

.result {
    margin-bottom: 0 !important;
}

.btn {
    background-color: #32c8ff;
    border: 3px solid #32c8ff;
    padding: 15px 25px;
    color: #1b1464;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin: 0.2rem;
}

.btn:hover {
    background-color: transparent;
    color: #32c8ff;
    transition-duration: 200ms;
}

.input-grid {
    width: 800px;
    display: flex;
}

.input-field {
    font-family: 'Jost', 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    width: 100%;
    margin-bottom: 1.8rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.btn-controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btn.selected {
    background-color: transparent;
    color: #32c8ff;
}

.hide {
    display: none;
}

@media only screen and (max-width: 768px) {
    .quizwrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .block {
        width: 90vw;
    }
    .title {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    .input-grid {
        width: 100%;
    }
    .input-field {
        font-size: 0.8rem;
        padding: 15px 20px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 0.8rem;
    }
    .question {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-bottom: 0.2rem;
    }
}