body {
    background-image: linear-gradient(45deg, #1b1464 5%, #3629cc 95%), linear-gradient(180deg, #1b1464, #1b1464)
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    margin-bottom: 2rem;
    font-family: 'Jost', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 100%;
    text-align: center;
    color: #32c8ff;
}

.input-field {
    width: auto;
    padding: 1rem 1rem;
    font-family: 'Jost', 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.btn-controls {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #32c8ff;
    border: 3px solid #32c8ff;
    padding: 15px 50px;
    color: #1b1464;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin: 0.2rem;
}

.btn:hover {
    background-color: transparent;
    color: #32c8ff;
    transition-duration: 200ms;
}